@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Center Label Example</title>
    <style>
      

        .centered-label {
            text-align: center;
            font-size: 24px;
            color: #333; /* Optional: text color */
        }
    </style>
</head>
<body>
    <div class="centered-label">
        أهلا بيك في تسهيلات السعودية
    </div>
</body>
</html>
