
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>تسهيلات السعوديه</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Medilab/assets/img/logggo.png"style="color:white" rel="icon">
    <link href="~/Medilab/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Medilab/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Medilab/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Medilab
    * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
    * Updated: Jun 29 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="index-page">

    <header id="header" class="header sticky-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope d-flex align-items-center"><a href="#" id="gamil11"></a></i>
                    <i class="bi bi-phone d-flex align-items-center ms-4"><span id="phonecontect11"></span></i>
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" id="twitter" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" id="facebook" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" id="instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" id="linkedin" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-center">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="#" class="logo d-flex align-items-center me-auto">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="~/Medilab/assets/img/logo.png" alt=""> -->
                    <img src="~/Medilab/assets/img/logggo.png" style="    width: 241px" id="" alt="" data-aos="fade-in" />
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="#contact">إتصل بنا</a></li>
                        <li><a href="/Viewcustomer#appointment">طلب تمويل</a></li>

                        <li><a href="/Viewcustomer/About">ماذا عنا </a></li>
                        <li class="dropdown">
                            <a href="#"><span>خدماتنا</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul id="servicesdata1111111111">

                               
                               
                            </ul>
                        </li>
                        <li><a href="/Viewcustomer" class="active">الرئيسية<br></a></li>
                        <li> <a class="cta-btn d-sm-block" href="/Viewcustomer/request1"> تتبع تمويل <br></a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>

               

            </div>

        </div>

    </header>

    @RenderBody()

    <footer id="footer" class="footer light-background">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span class="sitename" id="sitename">tashealat</span>
                    </a>
                    <div class="footer-contact pt-3">
                        
                        <p id="adderiescontect1"></p>
                        <p class="mt-3"><strong>هاتف:</strong> <span id="phonecontect1"></span></p>
                        <p><strong>بريد إليكترونى:</strong> <span id="gamil1"></span></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href="" id="twitter1" ><i class="bi bi-twitter-x"></i></a>
                        <a href="" id="facebook1" ><i class="bi bi-facebook"></i></a>
                        <a href="" id="instagram1"><i class="bi bi-instagram"></i></a>
                        <a href="" id="linkedin1" ><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>صفحات</h4>
                    <ul>
                        <li><a href="/Viewcustomer">الرئيسية</a></li>
                        <li><a href="/Viewcustomer/About">ماذا عنا</a></li>
                        <li><a href="/Viewcustomer#services">خدماتنا</a></li>
                        <li><a href="/Viewcustomer#contact">تواصل معنا</a></li>
                        <li><a href="/Viewcustomer#appointment">طلب تمويل</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>خدماتنا</h4>
                    <ul id="dataservicesss">
                      

                    </ul>
                </div>



            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright 2024</span> <strong class="px-1 sitename">AHMED ZAID</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="http://ahmedzaid.com/">ZAID</a> & Develop by <a href="http://ahmedzaid.com/">omar</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->

    @await RenderSectionAsync("Scripts", required: false)
    <!-- Vendor JS Files -->
    <script src="~/Medilab/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Medilab/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Medilab/assets/vendor/aos/aos.js"></script>
    <script src="~/Medilab/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Medilab/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Medilab/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="~/Medilab/assets/js/main.js"></script>
    <!-- Snap Pixel Code -->
    <script type='text/javascript'>
        (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
        {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
        a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
        r.src=n;var u=t.getElementsByTagName(s)[0];
        u.parentNode.insertBefore(r,u);})(window,document,
        'https://sc-static.net/scevent.min.js');

        snaptr('init', '9cb6add8-902f-4831-b299-9d68cb95fb79', {});

        snaptr('track', 'PAGE_VIEW');

    </script>
    <!-- End Snap Pixel Code -->
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1043487027539580&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    <script>

        $(document).ready(function () {
         
            getcontect(); Getdataservicesitem();
        

        });


        function Getdataservicesitem() {
            $.ajax({
                type: "GET",
                url: "/Viewcustomer/side",
                success: function (res) {
                   
                    var html = "";

                    // Assuming `res` is an array of objects
                    $.each(res, function (i, e) {
                        // Use `e` to access each item in the `res` array
                        html +=`<li><a href="/Viewcustomer/viewservice?sidename=${e.sidename}&contect=${e.contect}">${e.sidename}</a></li>
                            
                        `;
                    });

                    // Update the HTML content of the element with id 'servicesdata'
                    $("#servicesdata1111111111").html(html); $("#dataservicesss").html(html);
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + error);
                }
            });
        }

        function getcontect() {
            $.ajax({

                type: "GET",
                url: "/Viewcustomer/getcontect",
                success: function (res) {
                    console.log(res);
                    $("#gamil1").html(res.gamil);$("#gamil").html(res.gamil); $("#sitename1").html(res.name); $("#sitename").html(res.name);
                    $("#phonecontect1").html(res.phone);$("#phonecontect").html(res.phone);
                    $("#adderiescontect1").html(res.adderies);     $("#adderiescontect").html(res.adderies); $("#gamil11").html(res.gamil);
                    $("#phonecontect11").html(res.phone);
                    $("#twitter1").attr("href", res.twiter);
                    $("#facebook1").attr("href", res.facebock);
                    $("#instagram1").attr("href", res.tiktok);
                    $("#linkedin1").attr("href", res.linkedin);
                    $("#twitter").attr("href", res.twiter);
                    $("#facebook").attr("href", res.facebock);
                    $("#instagram").attr("href", res.tiktok);
                    $("#linkedin").attr("href", res.linkedin);
                    $("#gamil111").html(res.gamil)
                    $("#phonecontect111").html(res.phone)
                    $("#adderiescontect111").html(res.adderies)



                },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + error);
                }
            });
        }
    </script>
</body>

</html>
